body{background: #E7E7E7;}
.right_div a{
	background-image: none;
	font-size: 0.26rem;
	width: 0.6rem;
	line-height: 0.46rem;
	left: 0.02rem;
	color: #5496F9;
}

.back span{ 
	position:absolute !important; 
	top:0.2rem!important; 
	left:0.16rem!important;
    display: inline-block!important;
	background: url(../images/lk_icon.png) no-repeat !important;
	background-size: 1.44rem 1.44rem!important;
	width: 0.48rem!important;
	height: 0.48rem!important;
	background-position: 0rem 0rem!important;	
}

.answer_box{
	width: 100%;
	margin-bottom: 0.3rem;
}

.answer_box ul{
	width: 100%;
	font-size: 0.24rem;
	word-break: break-all;
	line-height: 0.3rem;
	background: #FFFFFF;
	margin-top: 0.1rem;
	margin-bottom: 0.1rem;
	/*border-top: 5px solid #E7E7E7;
	border-bottom: 5px solid #E7E7E7;*/
	height: auto;
}

.answer_box li{
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	padding-right: 0.16rem;
	padding-left: 0.16rem;	
	color: #323232;
	font-size: 0.3rem;
	word-break: break-all;
	line-height: 0.5rem;
}

.answer_box .ans_title{
	font-weight: bold;
	font-size: 0.3rem;
	line-height: 0.45rem;
}

.sel_abc,.ans_word{
	display: block;
	float: left;
	background: #FFFFFF;
}

.sel_abc{
	width: 0.3rem;
	padding-right: 0px !important;
	padding-top: 0.34rem!important;
}

.ans_word{
	width:5.62rem;
}

.ans_wt{
	float: left;
	margin-bottom: 0.02rem;
	background: #FFFFFF;
	margin-top: 0rem !important;
	margin-bottom: 0.02rem !important;
}

.answer_box li>img{
	width: 0.24rem;
	height: 0.24rem;
	margin-right: 0.16rem;
	float: left;
}

.djs_time{
	clear: both;
	float: left;
	width: 48%;
	height: 0.8rem;
	background: #5496F9;
	border-radius: 0.4rem;
	margin-left: 26%;
	margin-top: 0.3rem;
	text-align: center;
	line-height: 0.8rem;
	font-size: 0.24rem;
}

.djs_time img{
	width: 0.6rem;
}

.em_color{
	color: #5496F9 !important;
}

.jx_ans{
	clear: both;
	float: left;
	margin-top: 0.3rem;
}

.jx_ans ul{
	margin-bottom: 0.02rem !important;
	margin-top: 0rem !important;
}

.ans_ans{
	padding-bottom: 0rem !important;
	color: #5496F9 !important;
}

.yz_mf{
	float: left;
	width: 1.2rem;
	height: 1.2rem;
	position: relative;
	top: 1.2rem;
	right: 0.0rem;
	background-image: url(../img/ans_logo.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/*排名------------------------------------*/
.bg_pm{
	width: 100%;
	height: 10.5rem !important;
	background-image: url(../img/bg_pm.png) !important;
	background-size: 100% 100% !important;
	background-position: center;
}

.bg_pm ul{
	width: 6rem;
	height: 1rem;
	margin: auto;
	margin-top: 2rem;
}

.r_y,.date{
	height: 1rem;
	float: left;
}

.r_y{
	width: 1.35rem;
}

.date{
	width: 4.65rem;
}

.r_y span{
	display: block;
	width: 0.35rem;
	height: 0.35rem;
	background: #323232;
	border-radius: 0.25rem;
	margin: auto;
	margin-top: 0.24rem;
}

.date div{
	width: 4rem;
	height: 0.7rem;
	background: #FFFFFF;
	line-height: 0.7rem;
	font-size: 0.36rem;
	color: #323232;
	text-align: center;
	border-radius: 4px;
}

.date p{
	width: 4rem;
	height: 0.3rem;
	color: #646464;
	font-size: 0.18rem;
	line-height: 0.3rem;
}
.mar_top{
	margin-top: 0.3rem !important;
}

.pm_xx ul{
	margin-top: 0.02rem !important;
}

.sel_pm{
	display: flex;
	margin-top: 0px !important;
	margin-bottom: 0.02rem !important;
}

.sel_pm li{
	flex: 1;
	float: left;
	font-size: 0.24rem;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.font_size li{
	font-size: 0.28rem;
}

.ans_title div{
	width: 100%;
	height: 0.3rem;
	border-right: 1px solid #e7e7e7;
}

.pm_icon{
	border: none !important;
}

.ans_title img{
	width: 0.3rem;
}

.zf_box{
	width: 100%;
	height: 10.5rem !important;
	background-image: url(../img/zf_bg.png) !important;
	background-size: 100% 100% !important;
	background-position: center;
}

.zf_zs{
	width: 4rem;
	height: 5.5rem;
	margin: auto;
	margin-top: 2rem;
	background-image: url(../img/zongfen.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.zf_zs p{
	width: 100%;
	text-align: center;
	color: #cba55c;
	font-size:0.5rem;
	margin-top: 2.8rem;
	float: left;
}

.zf_zs button{
	float: left;
	margin-top: 0.8rem;
	margin-left: 0.75rem;
	width: 2.5rem;
	height: 0.7rem;
	background: #cba55c;
	border: none;
	border-radius: 0.4rem;
	color: #FFFFFF;
	font-size: 0.28rem;
}

































