{extend name='admin@public/main'}
{block name="body"}
<div class="larry-fliud p15 pt10">
    <div class="larry-row larry-col-space15">
        <div class="larry-col-lg12 larry-col-md12 larry-col-sm12 larry-col-xs12">
            <table class="larry-hide" id="userMange" lay-filter="userMange" data-url="__ADMIN__/larryms/data/template/user.json"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbar">
    <button class="layui-btn layui-btn-sm" lay-event="add" data-url="__ADMIN__/html/template/larryms210/userAdd.html">新增用户</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger isDelete" lay-event="del">批量删除</button>
    <button class="layui-btn layui-btn-sm  layui-btn-normal" lay-event="reload">刷新</button>
    <div class="larry-top-select ml15 mr5">
        <input type="text" class="larry-input" name="username" id="searchbox" placeholder="可按用户名、姓名、部门等查询">
    </div>
    <div class="larry-top-select ml15 mr5">
        <input type="text" class="larry-input" name="username" id="searchbox" placeholder="可按用户名、姓名、部门等查询">
    </div>
    <div class="larry-top-select ml15 mr5">
        <input type="text" class="larry-input" name="username" id="searchbox" placeholder="可按用户名、姓名、部门等查询">
    </div>
    <div class="larry-top-select ml15 mr5">
        <input type="text" class="larry-input" name="username" id="searchbox" placeholder="可按用户名、姓名、部门等查询">
    </div>
    <button class="layui-btn layui-btn-sm" lay-event="search" id="search">查询</button>
</script>
<script type="text/html" id="opreateBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"  data-url="__ADMIN__/html/template/larryms210/userAdd.html">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
{/block}