<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="apple-themes-web-app-capable" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">
    <title>日常考核</title>
    <link rel="stylesheet" href="__STATIC__/css/main.css?121" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/index.css?22"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/public.css"/>
</head>

<body>
<!--页面加载 结束-->
<header id="header">

    <div class="header_con">
        <a href="#">
            <span></span>
        </a>
        <div class="top_tit">当前登录：{$Think.session.wx_member_info.truename|default=$Think.session.wx_member_info.nickname}</div>
        <div class="right_div">
            <a href="#">
                <img src="{$Think.session.wx_member_info.headimgurl|default=''}"> </a>
            <div class=""></div>
        </div>
    </div>
</header>

<div id="content_div" class="">
    <!--首页轮播-->
    <div class="top_pic">
        <div class="carousel-image" id="scroll_img">
            <div>
                <a href="#"><img src="__STATIC__/img/banner.png" /></a>
                <a href="#"><img src="__STATIC__/img/banner2.png" /></a>
            </div>
            <span class="carousel-num">
			            </span>
        </div>
    </div>
    <!--答题btn onclick="document.location.href='ranking_ls.html';" ---------------------------->
    <div class="ph" >
        <div class="blue_box"></div>
        <div class="word_title">
            组员
        </div>
        <div class="enter_jt">
            <a href="#"></a>
        </div>
    </div>
    <div class="pm_box">

        <!-- {volist name="my_member_list" id="vo"} -->
        <div class="pm_xx"  onclick='document.location.href="{:url('index/Assessment/memberSubjectLog', ['id'=>$vo.id])}";'>
            <div class="tx_box" style="background-image:url('{$vo.headimgurl|default='__STATIC__/img/tx_01.jpg'}');"></div>
            <p>{if $vo.truename != '' } {$vo.truename}  {else/} {$vo.nickname}  {/if} </p>
            <text>{$vo.position}</text>
        </div>
        <!-- {/volist} -->

        <div style="clear:both"></div>
    </div>
    <!--小按钮----------------------------->

    <!--<div class="ph" onclick="document.location.href='ranking_ls.html';">
        <div class="blue_box"></div>
        <div class="word_title">
            排名
        </div>
        <div class="enter_jt">
            <a href="#"></a>
        </div>
    </div>
    <div class="pm_box">
        <div class="pm_xx">
            <em>第一名</em>
            <div class="tx_box"></div>
            <p>姓名</p>
            <text>10000分</text>
        </div>
        <div class="pm_xx">
            <em>第二名</em>
            <div class="tx_box"></div>
            <p>姓名</p>
            <text>10000分</text>
        </div>
        <div class="pm_xx">
            <em>第三名</em>
            <div class="tx_box"></div>
            <p>姓名</p>
            <text>10000分</text>
        </div>
        <div class="pm_xx">
            <em>第四名</em>
            <div class="tx_box"></div>
            <p>姓名</p>
            <text>10000分</text>
        </div>
        <div class="pm_xx">
            <em>第五名</em>
            <div class="tx_box"></div>
            <p>姓名</p>
            <text>10000分</text>
        </div>
    </div>-->
</div>

<!--底部-->
<div class="bottom_box" style="display: none;">
    <div class="tab_bar" id="index" onclick="document.location.href='index.html';">
        <img src="__STATIC__/img/index_on.png"/>
        <p style="color: #5496F9;">首页</p>
    </div>
    <div class="tab_bar" id="jf" onclick="document.location.href='integral.html';">
        <img src="__STATIC__/img/jifen.png"/>
        <p>积分</p>
    </div>
    <div class="tab_bar" id="call" onclick="document.location.href='personal-callme.html';">
        <img src="__STATIC__/img/call.png"/>
        <p>联系我们</p>
    </div>
    <div class="tab_bar" id="my" onclick="document.location.href='personal-center.html';">
        <img src="__STATIC__/img/my.png"/>
        <p>我的</p>
    </div>
</div>


<!--底部结束-->
<script type="text/javascript" src="__STATIC__/js/zepto.js"></script>
<script type="text/javascript" src="__STATIC__/js/carousel-image.js"></script>
<script>
    $('.carousel-image').CarouselImage({
        num: $('.carousel-image .carousel-num'),
        repeat: true
    });
</script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>

<script type="text/javascript">
    $('#index').click(function(){
        $('#jf>p,#call>p,#my>p').css('color','#323232');
        $('#index>p').css('color','#5496F9');
        $('#index>img').attr('src','__STATIC__/img/index_on.png');
        $('#jf>img').attr('src','__STATIC__/img/jifen.png');
        $('#call>img').attr('src','__STATIC__/img/call.png');
        $('#my>img').attr('src','__STATIC__/img/my.png');
    })

    $('#jf').click(function(){

        $('#index>p,#call>p,#my>p').css('color','#323232');
        $('#jf>p').css('color','#5496F9');
        $('#jf>img').attr('src','__STATIC__/img/jifen_on.png');
        $('#index>img').attr('src','__STATIC__/img/index.png');
        $('#call>img').attr('src','__STATIC__/img/call.png');
        $('#my>img').attr('src','__STATIC__/img/my.png');
    })

    $('#call').click(function(){
        $('#jf>p,#index>p,#my>p').css('color','#323232');
        $('#call>p').css('color','#5496F9');
        $('#call>img').attr('src','__STATIC__/img/call_on.png');
        $('#jf>img').attr('src','__STATIC__/img/jifen.png');
        $('#index>img').attr('src','__STATIC__/img/index.png');
        $('#my>img').attr('src','__STATIC__/img/my.png');
    })

    $('#my').click(function(){
        $('#jf>p,#call>p,#index>p').css('color','#323232');
        $('#my>p').css('color','#5496F9');
        $('#my>img').attr('src','__STATIC__/img/my_on.png');
        $('#jf>img').attr('src','__STATIC__/img/jifen.png');
        $('#call>img').attr('src','__STATIC__/img/call.png');
        $('#index>img').attr('src','__STATIC__/img/index.png');
    })
</script>

</body>

</html>
