<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="apple-themes-web-app-capable" content="yes">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="format-detection" content="telephone=no">
    <title></title>
    <link rel="stylesheet" href="__STATIC__/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/index.css?{:date('Y-m-d')}" />
    <link rel="stylesheet" href="__STATIC__/css/answer.css?11" />
</head>

<body>
<!--页面加载 结束-->
<header id="header">
    <div class="header_con">
        <a href="{:url('index/Assessment/index')}" class="back">
            <span></span>
        </a>
        <div class="top_tit">{$member.truename|default=$member.nickname}的考核</div>
        <div class="right_div">
            {eq name="is_check_last_month" value="1"}
            <a style="line-height: 0.7rem;width: 1.5rem;left: -1rem;" href="#">上月已考核</a>
            {else/}
            <a style="line-height: 0.7rem;width: 1.4rem;left: -0.9rem;" onclick='document.location.href="{:url('index/Assessment/answer', ['member_id'=>$member.id])}";'">考核上个月</a>
            {/eq}
             </div>
    </div>
</header>

<div id="content_div" class="">
    <div class="answer_box pm_xx" style="margin-top: 0;">
        <ul class="sel_pm font_size">
            <li class="ans_title">
                <div>序号</div>
            </li>
            <li class="ans_title">
                <div>月份</div>
            </li>
            <li class="ans_title">得分</li>
        </ul>
        <!-- {volist name="subject_log" id="vo"} -->
        <ul class="sel_pm"  onclick='document.location.href="{:url('index/Assessment/answer', ['member_id'=>$member.id, 'year_month'=>$vo.year_month])}";'>
            <li class="ans_title">
                <div class="pm_icon">
                    {$key+1}
                </div>
            </li>
            <li class="ans_title">
              {$vo.year_month}
            </li>
            <li class="ans_title">
               {$vo.score}分
            </li>
        </ul>
        <!-- {/volist} -->
    </div>
</div>

<!--底部结束-->
<script type="text/javascript" src="__STATIC__/js/zepto.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/common.js"></script>
</body>

</html>
